@font-face {
    font-family:"Stars";
    src: url("../fonts/Stars.ttf");
}
li{
    list-style-type: none;
    margin-top: 10px;
}
#section {
    margin-left: 80px;
    margin-top: 50px;
}
#content{
    height: 30px;
}
#message{
    height: 100px;
    margin-top: 10px;
}
#send_button{
    height: 30px;
    margin-top: 10px;
}
#messages_list{
    margin-top: 10px;
}
#content, #message, #send_button, #messages_list, #Registration{
    font-size: 25px;
    font-family: "Stars", monospace;
    color: antiquewhite;
    background-color: rgba(255, 102, 0, 0.8);
    border-style: none;
    text-shadow: 0 0 2px #ff3c00;
    box-shadow: 0 0 5px #ee0e38;
    width: 450px;
}
::placeholder{
    color: lightyellow;
    opacity: 50%;
}
h1 {
    font-size: 40px;
    font-family: "Stars", monospace;
    color: antiquewhite;
    text-shadow: 0 0 10px #ff3c00;
    margin-left: 180px;

}
body {
    background-color: antiquewhite;
    background-image: url("../images/BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}