@font-face {
    font-family:"Stars";
    src: url("../fonts/Stars.ttf");
}

h1 {
    font-size: 30px;
    font-family: "Stars";
    color: lightyellow;
}
body {
    background-color: black;
    background-image: url("../images/Starry_night.gif");
    background-size: cover;
    background-repeat: no-repeat;
}